body {
    background-color:azure;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width:800px){
.info {
    display: block;
    text-align: center;
}
}

.info-text {
    margin-left: 40px;
}

.conteiner {
max-width: 850px;
margin: auto;
padding-top: 30px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-orange {
background: #F0E68C;
}

.bg-red {
    background: #ffe5e5;
}

.bg-blue{
    background: #e5fff6;
}

.bg-violet {
background: rgb(241, 218, 241);
display: flex;
justify-content: space-between;
align-items: center;
}

.code {
    word-break: break-all;
}
.block {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    
}

.block h2 {
    margin-bottom: 10px;
}

.list {
padding: 0 20px;
}

 .list li {
    color: #0f141e;
    margin-bottom: 10px;
 }

 